<div class="ui stackable grid container">

  <div class="computer only row">
    <div class="thirteen wide column">
      <div class="ui message">
        <h1 class="ui huge header">
          Hello, SE3350b Teams!
        </h1>
        <p class="lead">
          This is a simple example to show the Semantic-UI pattern we will use through out CEAMS project,
          click the green button to see the left sidebar coming in and out of the page, and try to change
          the browser size to see right sidebar toggle button.
        </p>
      </div>

      <div class="ui hidden divider"></div>
      <div class="ui divider"></div>
      <footer>
        &copy; 2019 SE3350b Class
      </footer>
    </div>

    <div class="three wide column">
      <div class="ui vertical menu">
        <a class="active item" target="_blank" href="http://semantic-ui-forest.com/themes/semantic-ui/semantic-ui/"
           rel="noopener">Semantic-UI</a>
        <a class="item" target="_blank" href="http://semantic-org.github.io/Semantic-UI-Ember/#/modules"
           rel="noopener">Semantic-UI-Ember</a>
        <a class="item" target="_blank" href="https://datatables.net/examples/styling/semanticui" rel="noopener">Data
          Tables</a>
        <a class="item" target="_blank" href="https://www.emberaddons.com/" rel="noopener">Ember Addons</a>
        <a class="item" target="_blank" href="https://guides.emberjs.com/release/" rel="noopener">Ember Guide</a>
        <a class="item">Link</a>
        <a class="item">Link</a>
      </div>
    </div>
  </div>


  <div class="tablet mobile only row pushable">


    <div id="ceams">
      <div class="ui basic segment pusher">

        <div class="ui container">
          <div class="ui message">


            <div class="ui blue right floated icon button">
              Toggle right sidebar
              <i class="right arrow icon"></i>
            </div>


            <h1 class="ui huge header">
              Hello, SE3350b Teams!
            </h1>
            <p class="lead">
              This is a simple example to show the Semantic-UI pattern we will use through out CEAMS project,
              click the green button to see the left sidebar coming in and out of the page, and try to change
              the browser size to see right sidebar toggle button.
            </p>
          </div>
        </div>
        <div class="ui hidden divider"></div>
        <div class="ui divider"></div>
        <div class="ui basic footer segment">
          <p>
            &copy; 2019 SE3350b Class
          </p>
        </div>
      </div>



      <div class="ui right sidebar vertical menu">
        <a class="active item" target="_blank" href="http://semantic-ui-forest.com/themes/semantic-ui/semantic-ui/"
           rel="noopener">Semantic-UI</a>
        <a class="item" target="_blank" href="http://semantic-org.github.io/Semantic-UI-Ember/#/modules"
           rel="noopener">Semantic-UI-Ember</a>
        <a class="item" target="_blank" href="https://datatables.net/examples/styling/semanticui" rel="noopener">Data
          Tables</a>
        <a class="item" target="_blank" href="https://www.emberaddons.com/" rel="noopener">Ember Addons</a>
        <a class="item" target="_blank" href="https://guides.emberjs.com/release/" rel="noopener">Ember Guide</a>
        <a class="item">Link</a>
        <a class="item">Link</a>
      </div>

    </div>




</div>


</div>