<div class="ui button" {{action 'openModal'}}>
  Add New Role
</div>


{{#ui-modal name="newRole" class="newRole" }}
  <div class="header">
    Create New System Role
  </div>
  <div class="content">
    <div class="ui form">
      <div class="inline field">
        <label>Role name</label>
        {{input value=name type="text" placeholder="enter role name" }}
      </div>
    </div>
  </div>
  <br>

  <div class="actions">

    <div class="ui black deny button">
      Cancel
    </div>
    <div class="ui positive right labeled icon button">
      Save
      <i class="checkmark icon"></i>
    </div>

  </div>
{{/ui-modal}}


{{#ui-modal name="access-denied" class="access-denied" }}
  <div class="ui icon header">
    <i class="protect icon"></i>
    Permission Denied
  </div>
  <div class="content">
    <p>This feature (FEAT28_009: Add New System Role) is not allowed for your account.</p>
    <p>Please contact the system administrator for more information.</p>
  </div>

  <div class="actions">
    <div class="ui black deny button">
      Understand
    </div>
  </div>

{{/ui-modal}}
