<div class="home page">
  <div class="ui inverted vertical center aligned segment">
    <div class="ui massive borderless attached inverted menu">
      <div class="header item">
        <img class="ui medium image" src="{{rootURL}}assets\images\Western-logo-Engineering.png" alt="">
      </div>
      <div class="right item">
        <div class="ui massive secondary attached inverted pointing menu">
          {{#link-to "login"}}<a class=" item">Login</a>{{/link-to}}
        </div>
      </div>
    </div>

    <div class="ui text container">
      <h1 class="ui inverted header">
        CEAMS
      </h1>
      <p>
        Canadian Engineering Accreditation Management System (CEAMS) is a software system that facilitate the
        management, measurement, and visualization of the outcomes-based
        assessment and continuous program improvement for the Canadian Engineering Universities.
      </p>
      {{#link-to "login"}}
        <div class="ui massive white button">
          Let's Get Started
        </div>
      {{/link-to}}
    </div>
    <div class="ui inverted footer segment">
      CEAMS project developed by <a>SE3350b Class 2019</a>, supervised by
      <a>Dr. Abdelkader Ouda</a>.
    </div>
  </div>
</div>