<div class="ui top fixed borderless huge inverted menu">
  <div class="ui container grid">
    <div class="computer only row">
      <a class="header item">CEAMS</a>
      {{#link-to "home-page" class="item"}}<a>Home</a>{{/link-to}}
      <a class="item" target="_blank" href="http://semantic-ui-forest.com/themes/semantic-ui/semantic-ui/"  rel="noopener">Semantic-UI</a>
      <a class="item" target="_blank" href="http://semantic-org.github.io/Semantic-UI-Ember/#/modules" rel="noopener">Semantic-UI-Ember</a>
      <a class="item" target="_blank" href="https://datatables.net/examples/styling/semanticui" rel="noopener">Data Tables</a>
      <a class="item" target="_blank" href="https://www.emberaddons.com/" rel="noopener">Ember Addons</a>
      <a class="item" target="_blank" href="https://guides.emberjs.com/release/" rel="noopener">Ember Guide</a>
    </div>
    <div class="tablet mobile only row">
      <a class="header item"> CEAMS</a>
      <div class="right menu">
        <a class="menu item">
          <div class="ui icon toggle basic inverted button">
            <i class="content large icon"></i>
          </div>
        </a>
      </div>
      <div class="ui vertical borderless fluid inverted menu">
        {{#link-to "home-page"}} <a class="item">Home</a>{{/link-to}}
        <a class="item" target="_blank" href="http://semantic-ui-forest.com/themes/semantic-ui/semantic-ui/" rel="noopener">Semantic-UI</a>
        <a class="item" target="_blank" href="http://semantic-org.github.io/Semantic-UI-Ember/#/modules" rel="noopener">Semantic-UI-Ember</a>
        <a class="item" target="_blank" href="https://datatables.net/examples/styling/semanticui" rel="noopener">Data Tables</a>
        <a class="item" target="_blank" href="https://www.emberaddons.com/" rel="noopener">Ember Addons</a>
        <a class="item" target="_blank" href="https://guides.emberjs.com/release/" rel="noopener">Ember Guide</a>
      </div>
    </div>
  </div>
</div>

<div class="ui stackable grid container">
  <div class="computer only row">
    <div class="thirteen wide column">
      <div class="ui message">
        <h1 class="ui huge header">
          Hello, SE3350b Teams!
        </h1>
        <p class="lead">
          This is a simple example to show the Semantic-UI pattern we will use through out CEAMS project,
          click the green button to see the left sidebar coming in and out of the page, and try to change
          the browser size to see right sidebar toggle button. You could check out more wonderful effects here:
          <a target="_blank" href="http://semantic-ui.com/modules/sidebar.html#/examples" rel="noopener">Semantic-UI/sidebar examples</a>
        </p>
        <div class="ui hidden divider"></div>
        <div class="ui green button">
          <i class="left arrow icon"></i> Toggle left sidebar
        </div>
      </div>
      <div class="ui hidden section divider"></div>
      <div class="ui stackable grid">
        <div class="three column row">
          <div class="column">
            <h1 class="ui header">
              Heading
            </h1>
            <p>
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
              condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
              euismod. Donec sed odio dui.
            </p>
            <div class="ui small basic button">
              View detailes &raquo;
            </div>
          </div>
          <div class="column">
            <h1 class="ui header">
              Heading
            </h1>
            <p>
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
              condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
              euismod. Donec sed odio dui.
            </p>
            <div class="ui small basic button">
              View detailes &raquo;
            </div>
          </div>
          <div class="column">
            <h1 class="ui header">
              Heading
            </h1>
            <p>
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
              condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
              euismod. Donec sed odio dui.
            </p>
            <div class="ui small basic button">
              View detailes &raquo;
            </div>
          </div>
        </div>
        <div class="three column row">
          <div class="column">
            <h1 class="ui header">
              Heading
            </h1>
            <p>
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
              condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
              euismod. Donec sed odio dui.
            </p>
            <div class="ui small basic button">
              View detailes &raquo;
            </div>
          </div>
          <div class="column">
            <h1 class="ui header">
              Heading
            </h1>
            <p>
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
              condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
              euismod. Donec sed odio dui.
            </p>
            <div class="ui small basic button">
              View detailes &raquo;
            </div>
          </div>
          <div class="column">
            <h1 class="ui header">
              Heading
            </h1>
            <p>
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
              condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
              euismod. Donec sed odio dui.
            </p>
            <div class="ui small basic button">
              View detailes &raquo;
            </div>
          </div>
        </div>
      </div>
      <div class="ui hidden divider"></div>
      <div class="ui divider"></div>
      <footer>
        &copy; 2019 SE3350b Class
      </footer>
    </div>

    <div class="three wide column">
      <div class="ui vertical menu">
        <a class="active item">Link</a>
        <a class="item">Link</a>
        <a class="item">Link</a>
        <a class="item">Link</a>
        <a class="item">Link</a>
        <a class="item">Link</a>
        <a class="item">Link</a>
        <a class="item">Link</a>
        <a class="item">Link</a>
        <a class="item">Link</a>
        <a class="item">Link</a>
        <a class="item">Link</a>
        <a class="item">Link</a>
      </div>
    </div>
  </div>


  <div class="tablet mobile only row pushable">
    <div class="ui basic segment pusher">
      <div class="ui container">
        <div class="ui message">
          <div class="ui blue right floated icon button">
            Toggle right sidebar<i class="right arrow icon"></i>
          </div>
          <h1 class="ui huge header">
            Hello, world!
          </h1>
          <p class="lead">
            This is a simple example to show the Semantic-UI pattern we will use through out CEAMS project,
            click the green button to see the left sidebar coming in and out of the page, and try to change
            the browser size to see right sidebar toggle button. You could check out more wonderful effects here:
            <a target="_blank" href="http://semantic-ui.com/modules/sidebar.html#/examples" rel="noopener">Semantic-UI/sidebar examples</a>
          </p>
          <div class="ui hidden divider"></div>
          <div class="ui green button">
            <i class="left arrow icon"></i> Toggle left sidebar
          </div>
        </div>
        <div class="ui hidden section divider"></div>
        <div class="ui stackable grid">
          <div class="three column row">
            <div class="column">
              <h1 class="ui header">
                Heading
              </h1>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                mollis euismod. Donec sed odio dui.
              </p>
              <div class="ui small basic button">
                View detailes &raquo;
              </div>
            </div>
            <div class="column">
              <h1 class="ui header">
                Heading
              </h1>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                mollis euismod. Donec sed odio dui.
              </p>
              <div class="ui small basic button">
                View detailes &raquo;
              </div>
            </div>
            <div class="column">
              <h1 class="ui header">
                Heading
              </h1>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                mollis euismod. Donec sed odio dui.
              </p>
              <div class="ui small basic button">
                View detailes &raquo;
              </div>
            </div>
          </div>
          <div class="three column row">
            <div class="column">
              <h1 class="ui header">
                Heading
              </h1>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                mollis euismod. Donec sed odio dui.
              </p>
              <div class="ui small basic button">
                View detailes &raquo;
              </div>
            </div>
            <div class="column">
              <h1 class="ui header">
                Heading
              </h1>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                mollis euismod. Donec sed odio dui.
              </p>
              <div class="ui small basic button">
                View detailes &raquo;
              </div>
            </div>
            <div class="column">
              <h1 class="ui header">
                Heading
              </h1>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                mollis euismod. Donec sed odio dui.
              </p>
              <div class="ui small basic button">
                View detailes &raquo;
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui hidden divider"></div>
      <div class="ui divider"></div>
      <div class="ui basic footer segment">
        <p>
          &copy; 2019 SE3350b Class
        </p>
      </div>

    </div>


    <div class="ui right sidebar vertical menu">
      <a class="active item">Link</a>
      <a class="item">Link</a>
      <a class="item">Link</a>
      <a class="item">Link</a>
      <a class="item">Link</a>
      <a class="item">Link</a>
      <a class="item">Link</a>
      <a class="item">Link</a>
      <a class="item">Link</a>
      <a class="item">Link</a>
      <a class="item">Link</a>
      <a class="item">Link</a>
      <a class="item">Link</a>
    </div>


  </div>
</div>


<div class="ui left inverted labeled icon inline vertical menu sidebar">
  <div class="ui section hidden divider">

  </div>

  {{#link-to "home-page" }}
    <div class="item">
      <i class="home icon"></i>
      Home
    </div>
  {{/link-to}}

  <a class="item">
    <i class="block layout icon"></i>Topics
  </a>
  <a class="item">
    <i class="smile icon"></i>Friends
  </a>

</div>

