{{nav-bar}}

<div class="ui stackable grid container">
  <div class="computer only row">
    <div class="thirteen wide column"></div>

    <div class="three wide column">
      <div class="ui vertical menu">
        <a class="active item">Link</a>
        <a class="item">Link</a>
        <a class="item">Link</a>
        <a class="item">Link</a>
        <a class="item">Link</a>
        <a class="item">Link</a>
        <a class="item">Link</a>
        <a class="item">Link</a>
        <a class="item">Link</a>
        <a class="item">Link</a>
        <a class="item">Link</a>
        <a class="item">Link</a>
        <a class="item">Link</a>
      </div>
    </div>
  </div>


  <div class="tablet mobile only row pushable">
    <div class="ui basic segment pusher">
      <div class="ui container">
        <div class="ui message">
          <div class="ui blue right floated icon button">
            Toggle right sidebar<i class="right arrow icon"></i>
          </div>
          <h1 class="ui huge header">
            Hello, world!
          </h1>
          <p class="lead">
            This is a simple example to show the Semantic-UI pattern we will use through out CEAMS project,
            click the green button to see the left sidebar coming in and out of the page, and try to change
            the browser size to see right sidebar toggle button. You could check out more wonderful effects here:
            <a target="_blank" href="http://semantic-ui.com/modules/sidebar.html#/examples" rel="noopener">Semantic-UI/sidebar examples</a>
          </p>
          <div class="ui hidden divider"></div>
          <div class="ui green button">
            <i class="left arrow icon"></i> Toggle left sidebar
          </div>
        </div>
        <div class="ui hidden section divider"></div>
        <div class="ui stackable grid">
          <div class="three column row">
            <div class="column">
              <h1 class="ui header">
                Heading
              </h1>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                mollis euismod. Donec sed odio dui.
              </p>
              <div class="ui small basic button">
                View detailes &raquo;
              </div>
            </div>
            <div class="column">
              <h1 class="ui header">
                Heading
              </h1>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                mollis euismod. Donec sed odio dui.
              </p>
              <div class="ui small basic button">
                View detailes &raquo;
              </div>
            </div>
            <div class="column">
              <h1 class="ui header">
                Heading
              </h1>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                mollis euismod. Donec sed odio dui.
              </p>
              <div class="ui small basic button">
                View detailes &raquo;
              </div>
            </div>
          </div>
          <div class="three column row">
            <div class="column">
              <h1 class="ui header">
                Heading
              </h1>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                mollis euismod. Donec sed odio dui.
              </p>
              <div class="ui small basic button">
                View detailes &raquo;
              </div>
            </div>
            <div class="column">
              <h1 class="ui header">
                Heading
              </h1>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                mollis euismod. Donec sed odio dui.
              </p>
              <div class="ui small basic button">
                View detailes &raquo;
              </div>
            </div>
            <div class="column">
              <h1 class="ui header">
                Heading
              </h1>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                mollis euismod. Donec sed odio dui.
              </p>
              <div class="ui small basic button">
                View detailes &raquo;
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui hidden divider"></div>
      <div class="ui divider"></div>
      <div class="ui basic footer segment">
        <p>
          &copy; 2019 SE3350b Class
        </p>
      </div>

    </div>


    <div class="ui right sidebar vertical menu">
      <a class="active item">Link</a>
      <a class="item">Link</a>
      <a class="item">Link</a>
      <a class="item">Link</a>
      <a class="item">Link</a>
      <a class="item">Link</a>
      <a class="item">Link</a>
      <a class="item">Link</a>
      <a class="item">Link</a>
      <a class="item">Link</a>
      <a class="item">Link</a>
      <a class="item">Link</a>
      <a class="item">Link</a>
    </div>


  </div>
</div>


<div class="ui left inverted labeled icon inline vertical menu sidebar">
  <div class="ui section hidden divider">

  </div>

  {{#link-to "home-page" }}
    <div class="item">
      <i class="home icon"></i>
      Home
    </div>
  {{/link-to}}
  {{#link-to "task-force-management" }}
    <div class="item">
      Task Force Management
    </div>
  {{/link-to}}

  <a class="item">
    <i class="block layout icon"></i>Topics
  </a>
  <a class="item">
    <i class="smile icon"></i>Friends
  </a>

</div>

