<div class="ui top fixed borderless huge inverted menu">
  <div class="ui container grid">
    <div class="computer only row">
      <a class="header item">CEAMS</a>
      {{#link-to "home-page" class="item"}}<a>Home</a>{{/link-to}}
      {{#link-to "task-force-management" class="item"}}<a>Committees</a>{{/link-to}}
      {{#link-to "meeting" class="item"}}<a>Meeting</a>{{/link-to}}
    </div>
    <div class="tablet mobile only row">
      <a class="header item"> CEAMS</a>
      <div class="right menu">
        <a class="menu item">
          <div class="ui icon toggle basic inverted button">
            <i class="content large icon"></i>
          </div>
        </a>
      </div>
      <div class="ui vertical borderless fluid inverted menu">
        {{#link-to "home-page"}} <a class="item">Home</a>{{/link-to}}
        {{#link-to "task-force-management" class="item"}}<a>Committees</a>{{/link-to}}
        {{#link-to "meeting" class="item"}}<a>Meeting</a>{{/link-to}}
      </div>
    </div>
  </div>
</div>