<div class="ui red button" {{action 'openModal'}}>
  New
</div>
{{#ui-modal name="newModal" class="newModal"}}
<div class="ui middle aligned center aligned grid" id="createElement">
  <div class="six wide column">
    <div class="row">
      <div class="header">
        Adding new task force
      </div>
      <div class="content">
        <div class="ui form">
          <div class="field">
            <label>Task Force Name</label>
            {{input type="text" cols="50" rows="1" value = title placeholder="committee name"}}
          </div>
        </div>
        <br>
      </div>
      <br>
      <div class="actions">
        <div class="ui black deny button" {{action 'closeModal'}}>
          Cancel
        </div>
        {{#link-to "committees"}}
        <button class="ui positive right labeled icon button" {{action 'createCommittee'}}>
          Save
          <i class="checkmark icon"></i>
        </button>
        {{/link-to}}
        <br>
      </div>
    </div>
  </div>
</div>
{{/ui-modal}}