<h1 class="centered">GA TEAMS AND TASK FORCE MANAGEMENT</h1>
<div class="ui divided very relaxed animated list">
  <div class="item">
    <div class="ui top aligned avatar image">
      <img src="https://www.eng.uwo.ca/people/aouda/images/IMG_0311.png" alt="">
    </div>
    <div class="content">
      <div class="header">
        Committee Name: TASK FORCE DELTA
        <div class="ui teal button">
          Edit
        </div>
      </div>
    </div>
  </div>
</div>
{{#link-to "new-task-force"}}
  <div class="ui red button">
    New
  </div>
{{/link-to}}