<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<div class="team-detail">
    <div class="ui two column centered grid">
        <div class="column">
            <div class="ui column centered grid">
                <div class="ui text container">
                    <div class="text-title"><h1>KPI-Gauge</h1></div>
                </div>
            </div>

        <div class="kpi-button-group">
            <div class="right floated column">
                <div class="ui right floated button">
                    {{#link-to "indicators.manage-upi" class="item"}}<a>Back</a>{{/link-to}}
                </div>
            </div>
        </div>

        </div>
    </div>
</div>