<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<div class="team-detail">
    <div class="ui two column centered grid">
        <div class="column">
            <div class="ui column centered grid">
                <div class="ui text container">
                    <div class="text-title"><h1>Manage Key Performance Indicators</h1></div>
                </div>
            </div>

        <div class="instructor"><h3>Instructors</h3></div>
         <div class="ui divider"></div>
            <div class="bottom">
                <div class="ui relaxed divided list">
                  <div class="item">
                    <div class="content">
                        <div class="kpi-content">
                            Key Performance Indicator #1
                             <div class="right floated column">
                                <div class="ui input">
                                    <input class="weight" type="number" step="0.01" placeholder="0.0" readonly>
                                </div> 
                            </div>
                        </div>
                    </div>
                  </div>

                <div class="item">
                    <div class="content">
                        <span class="kpi-content">Key Performance Indicator #2</span>
                        <span>
                             <div class="right floated column">
                                <div class="ui input">
                                    <input class="weight" type="number" step="0.01" placeholder="0.0" readonly>
                                </div> 
                            </div>
                        </span>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <span class="kpi-content">Key Performance Indicator #3</span>
                        <span>
                             <div class="right floated column">
                                <div class="ui input">
                                    <input class="weight" type="number" step="0.01" placeholder="0.0" readonly>
                                </div> 
                            </div>
                        </span>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <span class="kpi-content">Key Performance Indicator #4</span>
                        <span>
                             <div class="right floated column">
                                <div class="ui input">
                                    <input class="weight" type="number" step="0.01" placeholder="0.0" readonly>
                                </div> 
                            </div>
                        </span>
                    </div>
                </div>
             </div>
        </div>
            
        <div class="staff"><h3>Staff</h3></div>
         <div class="ui divider"></div>
            <div class="bottom">
                <div class="ui relaxed divided list">
                  <div class="item">
                    <div class="content">
                        <span class="kpi-content">Key Performance Indicator #1</span>
                        <span>
                             <div class="right floated column">
                                <div class="ui input">
                                    <input class="weight" type="number" step="0.01" placeholder="0.0" readonly>
                                </div> 
                            </div>
                        </span>
                    </div>
                  </div>
                <div class="item">
                    <div class="content">
                        <span class="kpi-content">Key Performance Indicator #2</span>
                        <span>
                             <div class="right floated column">
                                <div class="ui input">
                                    <input class="weight" type="number" step="0.01" placeholder="0.0" readonly>
                                </div> 
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="time"><h3>Evaluation End Date</h3></div>
         <div class="ui divider"></div>
            <div class="bottom">
                <div class="ui relaxed divided list">
                    <div class="item">
                        <div class="content">
                            <span class="kpi-content">End</span>
                            <span>
                                <div class="right floated column">
                                    <div class="ui input">
                                        <input class="weight" type="date" value="2019-08-04" readonly>
                                    </div> 
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        <div class="kpi-button-group">
            <div class="right floated column">
                <div id="save-button" class="ui right floated button">
                    <a>Save changes</a>
                </div>
                <div id="edit-button" class="ui right floated button">
                    <a>Edit components</a>
                </div>
                <div class="ui right floated button">
                    {{#link-to "indicators.manage-upi" class="item"}}<a>Back</a>{{/link-to}}
                </div>
            </div>
        </div>

        </div>
    </div>
</div>