<div class="team-detail">
    <div class="ui two column centered grid">
        <div class="column">
            <div class="ui column centered grid">
                <div class="ui text container">
                    <h1>Manage User Evaluation Methods</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="buttons-list">
        <div class="ui center aligned grid">
            <div class="column">
                {{#link-to "indicators.manage-kpi" class="item"}}
                <div class="ui huge button">
                    <a>Define</a>
                </div>
                {{/link-to}}
            </div>
        </div>
        <div class="ui center aligned grid">
            <div class="column">
                {{#link-to "indicators.kpi-gauge" class="item"}}
                <div class="ui huge button">
                    <a>Visualize</a>
                </div>
                {{/link-to}}
            </div>
        </div>
        <div class="ui center aligned grid">
            <div class="column">
                {{#link-to "indicators.assign-evaluation-methods" class="item"}}
                <div class="ui huge button">
                    <a>Assign</a>
                </div>
                {{/link-to}}
            </div>
        </div>
        <div class="ui center aligned grid">
            <div class="column">
                {{#link-to "indicators.list-kpi" class="item"}}
                <div class="ui huge button">
                    <a>Generate KPI Reports</a>
                </div>
                {{/link-to}}
            </div>
        </div>
    </div>
</div>