<div class="team-detail">
    <div class="ui two column centered grid">
        <div class="column">
            <div class="ui column centered grid">
                <div class="ui text container">
                    <h1>Manage User Performance Indicators</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="buttons-list">
        <div class="ui center aligned grid">
            <div class="column">
                <div class="ui huge button">
                    {{#link-to "indicators.manage-kpi" class="item"}}<a>Define Evaluation Strategy</a>{{/link-to}}
                </div>
            </div>
        </div>
        <div class="ui center aligned grid">
            <div class="column">
                <div class="ui huge button">
                    {{#link-to "indicators.manage-kpi" class="item"}}<a>Display KPI Gauge</a>{{/link-to}}
                </div>
            </div>
        </div>
        <div class="ui center aligned grid">
            <div class="column">
                <div class="ui huge button">
                    {{#link-to "indicators.manage-kpi" class="item"}}<a>Manage KPI</a>{{/link-to}}
                </div>
            </div>
        </div>
        <div class="ui center aligned grid">
            <div class="column">
                <div class="ui huge button">
                    {{#link-to "indicators.manage-kpi" class="item"}}<a>Generate KPI Reports</a>{{/link-to}}
                </div>
            </div>
        </div>
     </div>
</div>