<br><br><br>
<div class=" ui center aligned huge header" id="title">GA Committees</div>
<div class="ui two column vertically divided centered middle aligned grid text container">
  <div class="row"></div>
  {{#each committeeList as |committee|}}
  <div class="row">
    <div class="column">
      <div class="ui left floated ">{{committee.name}}</div>
    </div>
    <div class="row" id="ForceList">
      <div class="ui raised segment divided very relaxed animated list">
        {{#each committeeList as |committee|}}
        <div class="item">
          <div class="content">
            <div class="header">
              {{committee.name}}
              {{#link-to "committees.detail" committee.id}}
                <div class="ui blue button">View</div>
              {{/link-to}}
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    <div class="row">
      {{new-task-force}}
    </div>
  </div>
  {{/each}}
  <div class="row">
    <div class="ui center aligned container">{{new-task-force}}</div>
  </div>
</div>