<br><br><br>
<div class=" ui center aligned huge header" id="title">GA Committees</div>
<div class="ui two column vertically divided centered middle aligned grid text container">
  <div class="row"></div>
  {{#each committeeList as |committee|}}
  <div class="row">
    <div class="column">
      <div class="ui left floated ">{{committee.name}}</div>
    </div>
    <div class="column">
      {{#link-to "committees.detail" committee.id}}
      <div class="ui right floated blue button">View <i class="right floated eye icon"></i></div>
      {{/link-to}}
    </div>
  </div>
  {{/each}}
  <div class="row">
    <div class="ui center aligned container">{{new-task-force}}</div>
  </div>
</div>