<div class=" ui center aligned huge header" id="title">GA Committees</div>
<div class="ui centered grid">
    <div class="row"></div>
    <div class="committeeList">
        <div class="ui centered grid section">
            <div class="ui input">
                {{input type="text" cols="50" rows="1" value = comQuery placeholder="Search...." }}
            </div>
        </div>
        <div class="user-container">
            <div class="eight wide row">
                <div class="section">
                    <div class="ui middle aligned divided list">
                        {{#each committeeList as |committee|}}
                        <div class="item">
                            <div class="ui left floated ">{{committee.name}}</div>
                            {{#if FEAT21_004IsPermitted }}
                            {{#link-to "ceams.committees.detail" committee.id}}
                            <div class="ui right floated blue button">View<i class="right floated eye icon"></i></div>
                            {{/link-to}}
                            {{/if}}
                            {{#if FEAT21_003IsPermitted }}
                            {{delete-task-force correctTitle=committee.name delID=committee.id }}
                            {{/if}}
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{#if FEAT21_001IsPermitted }}
    <div class="row">
        <div class="ui center aligned container">{{new-task-force}}</div>
    </div>
    {{/if}}
</div>