<div class="ui middle aligned center aligned grid">
  <br><br>
  <div class="six wide column committees-list">
    <div class="row">
      <h1 class="centered" id="title">GA COMMITTEES AND TASK FORCE MANAGEMENT</h1>
    </div>
    <div class="row" id="ForceList">
      <div class="ui raised segment divided very relaxed animated list">
        {{#each committeeList as |committee|}}
        <div class="item">
          <div class="content">
            <div class="header">
              {{committee.name}}
              {{committees/team-detail}}
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    <div class="row">
      {{#link-to "committees.new"}}
      <div class="ui red button">
        New
      </div>
      {{/link-to}}
    </div>
  </div>
</div>