<div class="team-detail">
    <div class="ui two column centered grid">
        <div class="column">
            <div class="ui column centered grid">
                <div class="ui text container">
                    <h1>GA Task Force</h1>
                </div>
            </div>
        <div class="ui grid">
            <div class="four column row">
              <div class="left floated column">
                 <div class="top">
                    <div class="ui medium rectangle">
                      <span class="committee-name">
                        <p>Committee Name: Team3</p>
                      </span>
                      <span class="committee-level">
                        <p>Committee Level: Department</p>
                      </span>
                    </div>
                </div>
              </div>
                <div class="right floated column">
                  <div class="ui right floated button">
                    {{#link-to "committees.manage-users" class="item"}}<a>Manage Users</a>{{/link-to}}
                  </div>
                </div>
            </div>
        </div>  

        <div class="ui divider"></div>

            <div class="bottom">
                <div class="ui relaxed divided list">
                  <div class="item">
                    <div class="content">
                    <a class="header">Welson</a>
                    <div class="description">Member of Team3</div>
                    <span>Participation Start Date:</span>
                    <br>
                    <span>Participation End Date:</span>
                    </div>
                  </div>
                <div class="item">
                    <div class="content">
                    <a class="header">Jason</a>
                    <div class="description">Member of Team3</div>
                    <span>Participation Start Date:</span>
                    <br>
                    <span>Participation End Date:</span>
                    </div>
                </div>
                   <div class="item">
                   <div class="content">
                    <a class="header">Jonathan</a>
                    <div class="description">Member of Team3</div>
                    <span>Participation Start Date:</span>
                    <br>
                    <span>Participation End Date:</span>
                      </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>